apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: myapp
  namespace: flux-system
spec:
  interval: 5m
  path: ./clusters/dev/myapp
  prune: true
  sourceRef:
    kind: GitRepository
    name: myapp-env
  wait: true
  timeout: 2m